div {
    max-width: 1600px;
    margin: 0 auto;
}
nav {
    text-align: center;
}
#book {
    text-align: center;
}
#button-box {
    text-align: center;
}
a {
    text-align: center;
    color: black;
    text-decoration: none;
}
#hero-msg h1 {
    text-align: center;
}
#hero-msg h4{
    text-align: center;
    color: black;
}
button-box {
    text-align: center;
}
main section {
    text-align: center;
}
#background {
    height: 725px;
}
body {
    background-color: #f4e951;
}
header {
    background-color: #f4e951;
}
nav a:hover {
    background-color: #f4e951;
    color: black;
}
.book, .join {
    background-color: #f4e951;
    color: black;
    text-decoration: none;
}
.book:hover, .join:hover {
    background-color: #f4e951;
    color: black;
}
#background {
    background-color: #f4e951;
}
.msg {
    background-color: #f4e951;
}
footer {
    background-color: #f4e951;
    color: black;
}
footer a {
    text-decoration: none;
}
footer p {
    font-size: 1.2em;
}
footer a:hover {
    color: black;
    text-decoration: underline;
}
.home-title {
    color: black;
}
.msg h2 {
    color: black;
}
.msg p{
    color: black;
}
.logo {
    width: 80px;
}
.icon {
    width: 80px;
}
#hero-img {
    width: 100%;
}
