@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&family=Rubik+Dirt&display=swap');
header {
    display: grid;
    grid-template-columns: 150px auto;
}
nav {
    display: flex;
    justify-content: space-around;
}
head {
    font-family: Oxygen, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.home-title {
    font-family: Oxygen, Helvetica, sans-serif;
    font-size: 2em;
   background-color: #02010a;
    color: #f4f1c3;
    margin-top: 10px;
}
div {
    max-width: 1600px;
    margin: 0 auto;
}
nav a {
    text-align: center;
    background-color: black;
    color: #f4f1c3;
    padding: 35px;
}
.book {
    text-align: center;
}
a {
    text-align: center;
    color: black;
    text-decoration: none;
}
#hero-msg h1 {
    text-align: center;
}
#hero-msg h4{
    text-align: center;
    color: white;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}
main section img {
    box-sizing: border-box;
}
#background {
    height: 725px;
}
body {
    background-color: #f4f1c3;
    font-family: Rubik Dirt, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
h2 {
    margin: 0;
}
header {
    background-color: #f4f1c3;
}
nav a:hover {
    background-color: black;
    color: #f4f1c3;
}
.book, .join {
    background-color: black;
    color: #f4f1c3;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
    display: 50%;
}
.book:hover, .join:hover {
    background-color: black;
    color: #f4f1c3;
}
#background {
    background-color: #f4f1c3;
    grid-column: 1/11;
    grid-row: 4/9;
}
.msg {
    background-color: #f4f1c3;
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;
}
footer {
    background-color: #f4f1c3;
    color: black;
    padding: 25px 50px;
    margin-top: 200px;
    display:flex;
    justify-content: space-around;
    align-items: center;
}
footer a {
    text-decoration: none;
    color: black;
}
footer p {
    font-size: 1.2em;
}
footer a:hover {
    color: black;
    text-decoration: underline;
}
footer .social img {
    padding-top: 15px;
}
.home-title {
    color: #f4f1c3;
}
h4 {
    color: #f4f1c3;
}
.msg h2 {
    font-family: font-family: Oxygen, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
}
.msg p{
    color: black;
    font-size: .8em;
    padding-bottom: 15px;
}
.logo {
    width: 80px;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
#hero-img {
    width: 100%;
}
.card-img {
    border: 10px solid #547c49 ;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}
.card-img, .mountains {
    width: 100%;
}
.rivers-card {
    grid-column: 2/4;
    grid-row: 2/3;
}
.camping-card {
    grid-column: 5/7;
    grid-row: 2/3;
}
.rapids-card {
    grid-column: 8/10;
    grid-row: 2/3;
}
.mountains {
    width 100%;
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #6f7364;
}
.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}
@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}
form {
    /* Center the form on the page */
    margin: 0 auto;
    width: 400px;
    /* Form outline */
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  form li + li {
    margin-top: 1em;
  }
  
  label {
    /* Uniform size & alignment */
    display: inline-block;
    width: 90px;
    text-align: right;
  }
  
  input,
  textarea {
    font: 1em sans-serif;
    width: 300px;
    box-sizing: border-box;
    border: 1px solid #999;
  }
  
  input:focus,
  textarea:focus {
    /* Additional highlight for focused elements */
    border-color: #000;
  }
  
  textarea {
    /* Align multiline text fields with their labels */
    vertical-align: top;
  
    /* Provide space to type some text */
    height: 5em;
  }
  
  .button {
    /* Align buttons with the text fields */
    padding-left: 90px; /* same size as the label elements */
  }
  
  button {
    /* This extra margin represent roughly the same space as the space
       between the labels and their text fields */
    margin-left: 0.5em;
  }
  #feedback {
    background-color: antiquewhite;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: .5em;
    /* make this element invisible until we are ready for it */
    display: none;      
}
.moveDown {
    margin-top: 3em;
}
                    