nav {
  display: flex;
  justify-content: space-around;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  .btn {
    border: none; /* Remove borders */
    color: white; /* Add a text color */
    padding: 14px 28px; /* Add some padding */
    cursor: pointer; /* Add a pointer cursor on mouse-over */
  }
  
  .success {background-color: #04AA6D;} /* Green */
  .success:hover {background-color: #46a049;}
  
  .info {background-color: #2196F3;} /* Blue */
  .info:hover {background: #0b7dda;}
  
  .warning {background-color: #ff9800;} /* Orange */
  .warning:hover {background: #e68a00;}
  
  .danger {background-color: #f44336;} /* Red */
  .danger:hover {background: #da190b;}
  
  .default {background-color: #ade4fa; color: black;} /* Gray */
  .default:hover {background: #ade4f0;}

  .plan {background-color: #559583; color: black;}
  .plan:hover {background: #559580;}
  