@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Shadows+Into+Light&display=swap');

header {
    display: grid;
    grid-template-columns: 150px auto;
}
nav {
    display: flex;
    justify-content: space-around;
    grid-template-columns: 1fr 5fr;
}
head {
    font-family: Montserrat, 'Shadows Into Light', Georgia, Times, 'Times New Roman', serif;
}
.home-title {
    font-family: 'Shadows Into Light', Helvetica, sans-serif;
    font-size: 2em;
   background-color: #E7C24F;
    color: #396E94;
    margin-top: 10px;
}
#hero-img {
    width: 100%;
    align-items: center;
}
div {
    max-width: 1600px;
    margin: 0 auto;
}
nav a {
    text-align: center;
    background-color: #ADE4F0;
    color: black;
}
#hero-msg h1 {
    text-align: center;
    font-size: larger;
}
#hero-msg h4{
    text-align: center;
    background-color: #ADE4F0;
    color: black;
}
main section {
    text-align: center;
}
main section img {
    box-sizing: border-box;
}
.msg {
    background-color: #ADE4F0;
    font-family: Montserrat, 'Shadow Into Light', Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 22px;
    margin: 22px;
    padding: 35px;
}